/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}
.page {
    margin: 20px;
}
nav {
    border: 1px solid #ccc;
    padding: 10px 5px;
}
nav a {
    padding: 5px 10px;
    background-color: orange;
    text-decoration: none;
    color: white;
}
.active-link {
    text-decoration: none;
    background-color: green;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}

