.invalid .col input {
    background-color: red;
    color: #fff;
}
.slot {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100px;
    height: 30px;
}
.slot span {
    padding: 5px;
}
.slot input {
    height: 30px;
}
.readonly {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
.marked .slot {
    background-color: #ccc;
    color: blue;
    border-collapse: collapse;
}

.first:nth-child(1) {
    border-top: 2px solid orange;
    border-left: 2px solid orange;
    border-right: 1px dotted orange;
    border-bottom: none;
}
.first:nth-child(2) {
    border-top: 2px solid orange;
    border-left: none;
    border-right: 1px dotted orange;
    border-bottom: none;
}
.first:nth-child(3) {
    border-top: 2px solid orange;
    border-left: none;
    border-right: 2px solid orange;
    border-bottom: none;
}
.middle:nth-child(1) {
    border-left: 2px solid orange;
    border-right: 1px dotted orange;
    border-bottom: none;
}
.middle:nth-child(2) {
    border-left: none;
    border-right: 1px dotted orange;
    border-bottom: none;
}
.middle:nth-child(3) {
    border-left: none;
    border-right: 2px solid orange;
    border-bottom: none;
}
.last:nth-child(1) {
    border-left: 2px solid orange;
    border-right: 1px dotted orange;
    border-bottom: 2px solid orange;
}
.last:nth-child(2) {
    border-left: none;
    border-right: 1px dotted orange;
    border-bottom: 2px solid orange;
}
.last:nth-child(3) {
    border-left: none;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
}
