<div class="row">
    <p>
        Total data in grid: {{data.length}}. Form is valid: {{isValid()}}.
        <button [disabled]="!isValid()" (click)="save()">Save</button>
        <button (click)="clear()">Clear</button>
        <button [disabled]="!isValid() || !hasMarkedSlots()" (click)="merge()">Merge</button>
    </p>
</div>
<div class="row" *ngFor="let slot of data"
    [ngClass]="{'invalid': !slot.valid, 'marked': slot.marked}"
    (click)="mark(slot)" (dblclick)="editSlot(slot)">
    <ng-container *ngIf="slot.selected">
        <div class="col slot">
            <input type="number" max="1000000000" [(ngModel)]="slot.min"
            (keyup.enter)="submit(slot)" (keyup)="validate(slot)" autofocus />
        </div>
        <div class="col slot">
            <input type="number" max="1000000000" [(ngModel)]="slot.max"
            (keyup.enter)="submit(slot)" (keyup)="validate(slot)" />
        </div>
        <div class="col slot">
            <input type="number" max="1000000000" [(ngModel)]="slot.price"
            (keyup.enter)="submit(slot)" (keyup)="validate(slot)" />
        </div>
    </ng-container>
    <ng-container *ngIf="!slot.selected">
        <div class="col slot" [ngClass]="slot.state">
            <span>{{slot.min}}</span>
        </div>
        <div class="col slot" [ngClass]="slot.state">
            <span>{{slot.max}}</span>
        </div>
        <div class="col slot" [ngClass]="slot.state">
            <span>{{slot.price}}</span>
        </div>
    </ng-container>
</div>
